<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chambres</title>
</head>
<body>
    <h1>Chambres</h1>
    <a th:href="@{/chambres(disponible=true)}">Voir seulement les chambres disponibles</a>
    <table>
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Prix</th>
                <th>Nombre de personnes</th>
                <th>Disponible</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="chambre : ${chambres}">
                <td th:text="${chambre.numero}"></td>
                <td th:text="${chambre.prix}"></td>
                <td th:text="${chambre.nb_personne}"></td>
                <td th:text="${chambre.disponible ? 'Oui' : 'Non'}"></td>
                <td>
                    <form th:if="${chambre.disponible}" th:action="@{/api/reservations/creer/{idChambre}/{idClient}(idChambre=${chambre.id},idClient=1)}" method="post">
                        <button type="submit">Réserver</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>