<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Event</title>
</head>

<body>
    <h1>Edit Event</h1>
    <form action="#" th:action="@{/events/edit/{id}(id=${event.id})}" th:object="${event}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label for="name">Event Name:</label>
        <input type="text" id="name" th:field="*{name}" required />

        <label for="date">Event Date:</label>
        <input type="date" id="date" th:field="*{date}" required />

        <label for="time">Event Time:</label>
        <input type="time" id="time" th:field="*{time}" required />

        <label for="price">Price:</label>
        <input type="text" id="price" th:field="*{price}" required />

        <label for="availableSlotsts">Available Seats:</label>
        <input type="number" id="availableSlotsts" th:field="*{availableSlotsts}" required />

        <button type="submit">Modify Event</button>
    </form>
</body>

</html>